@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(5, 2, 15);
  color: white;
  padding: 0;
}

input {
  color: white;
  background-color: rgb(5, 2, 15);
  border: 1px solid white;
}
button {
  background-color: rgb(0, 100, 201);
  padding: 5px 20px;
  border-radius: 8px;
  font-weight: 600;
}
